@model DocumentFlow_KW.ViewModels.Document

<h1 class="h3 mb-3 fw-normal" style="margin-top: 100px;">@Model.Topic</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" disabled>Документ</a>
    </li>
</ul>
<div class="my-3" style="padding: 2%; float:left; width: 700px">
    <label for="name">Срок согласования            с @Model.CreationDate.ToString("g") <img src="/img/time.png"> по <b>@Model.EndDate.ToString("g")</b> <img src="/img/time.png"></label>
    <div class="my-4">
    <h6 for="name">Текст документа </h6>
@*    <label>@Model.Description</label>
    <label> Автор задачи @Model.Fio</label>*@
    <div class="my-2" style="background-color:rgb(216, 219, 255); padding-left:2%">
        @Model.Description
    </div>
    @if (Model.FileName != null)
    {
    <div class="my-2" padding-left:2%"> Прикреплённый файл
            <a href=@Model.FileName download=@Model.FileName>
        @Model.FileName
    </a>
    </div>
    }
    </div>

    <div>
        <label for="name"><b>Приоритет: </b>@Model.Priority</label>
    </div>
    @if (Model.Executor == Model.UserName)
    {
        <div class="form-group">
            @*<input type="submit" value="Выполнена" class="btn btn-success"/>*@
            <a class="btn btn-success btn-lg" style="margin: 15px 15px 15px" asp-action="CompletedDocument" asp-route-id="@Model.Id">Согласовать</a>
            <a class="btn btn-danger btn-lg" style="margin: 15px 15px 15px" asp-action="ReasonDeniedDocument" asp-route-id="@Model.Id">Не согласовывать</a>
    </div>
    }
</div>
<div class="my-3" style="padding: 1%; float:left; width: 250px">
    <div style="background-color:rgb(216, 219, 255); padding: 2% ">  
    <h6>Автор</h6>
    <div class="my-2">
        @Model.Fio.Substring(0, Model.Fio.IndexOf('('))
    </div>
    <div class="my-2">
        <em>@Model.Fio.Substring(Model.Fio.IndexOf('('), Model.Fio.Length-Model.Fio.IndexOf('('))</em>
    </div>
    <hr />
   @* @String word = @Model.Executor.Substring(0, Model.Executor.IndexOf('('))*@
    <h6>Согласующий</h6>
    <div class="my-2">
        @*@Model.Executor*@
        @Model.Executor.Substring(0, Model.Executor.IndexOf('('))
    </div>
    <div class="my-2">
        <em>@Model.Executor.Substring(Model.Executor.IndexOf('('), Model.Executor.Length-Model.Executor.IndexOf('('))</em>
    </div>
    </div>
    @if (@Model.Status == "Не согласован")
    {
         <div class="my-2" style="background-color:rgb(255, 176, 149); padding: 2%">
             <h6>Статус документа</h6>
             <div class="my-2">
            Не согласован <br>
            @Model.Term
            </div>
        </div>
    }
    else
    {
        <div class="my-2" style="background-color:rgb(126, 255, 140)">
             <h6>Статус документа</h6>
             <div class="my-2">
            Согласован <br>
            @*@Model.Term*@
            </div>
        </div>
    }
</div>
